﻿@model NPPESRegistryAPI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/API")
    <script>
        $(document).bind('keypress', function (e) {
            if (e.which === 13) {
                $('#LoginButton').trigger('click');
            }
        });
    </script>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "emailTextbox", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "passwordBox" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="LoginButton" name="LoginButton" value="Login" class="btn btn-default" onclick="LoginWithToken()" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="LogoutButton" name="LogoutButton" value="Logout" class="btn btn-default" onclick="LogoutandRemoveToken()" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>
</body>

</html>

